<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>search box app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" media="all" href="styles.css">
</head>
<body ng-controller="UserInfoCtrl">
    <div id="wrapper">
        <div>
            <h1>Get User Info</h1>
            <input type="text" id="userName" ng-model="username" placeholder="User Name">
            <a href="#" id="submitBtn" ng-click="getUserInfo()">Get User Info</a>
        </div>
        <div ng-show="userNotFound">
            <h2>No User Info Found</h2>
        </div>
        <div ng-show="loaded">
            <h2> {{user.name}}</h2>
            <div class="repolist">
                <p ng-hide="reposFound">No repos found</p>
                <div ng-show="reposFound">
                    <ul ng-repeat="repo in repos">
                        <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>